@utility shimmer-rainbow {
  background: linear-gradient(
    90deg,
    #ff4d4d,
    #ff9933,
    #ffe033,
    #33cc66,
    #4d79ff,
    #7052b8,
    #a64dff,
    #ff4d4d
  );
  background-size: 200% auto;
  animation: shimmer 4s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}
